GITHUB_TOKEN = "your-token-here"
OWNER = "owner-of-the-repo-here"
REPO = "your-repo-name-here"
CHECK_INTERVAL_IN_SECONDS = "Interval to check discussions"
CATEGORY_NAME="discussion-category-name-here(optional)"
NOTIFICATION_COOLDOWN_MULTIPLIER = "Multiplier for notification cooldown( * seconds)"